{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Nikhil Kumar</title>
</head>

<body>
    <section
        class="flex flex-col justify-center items-center h-screen px-4 md:px-12 bg-black text-blue-50 gap-8 md:gap-28">
        <div class="navbar w-full flex justify-between items-center px-4 md:px-0">
            <div class="logo">
                <a href="">
                    <img src="{% static 'media/gh.svg' %}" alt="placeholder image">
                </a>
            </div>
            <div class="icon">
                <a href="menu">
                    <img src="{% static 'media/menu.svg' %}" alt="menu">
                </a>
            </div>
        </div>
        <div class="main text-center">
            <div class="txt font-extrabold text-3xl md:text-5xl">ABOUT ME</div>
            <div class="text-lg md:text-2xl">IT'S A-ME, MARIO!</div>
        </div>
    </section>

    <section class="about-me">
        <div class="flex flex-wrap justify-center gap-4 p-4">
            <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
                <img class="w-full" src="..." alt="Card image cap">
                <div class="px-6 py-4">
                    <h5 class="font-bold text-xl mb-2">Card title</h5>
                    <p class="text-gray-700 text-base">
                        This is a longer card with supporting text below as a natural lead-in to additional content.
                        This
                        content is a little bit longer.
                    </p>
                    <p class="text-gray-600 text-sm mt-4"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
                <img class="w-full" src="..." alt="Card image cap">
                <div class="px-6 py-4">
                    <h5 class="font-bold text-xl mb-2">Card title</h5>
                    <p class="text-gray-700 text-base">
                        This card has supporting text below as a natural lead-in to additional content.
                    </p>
                    <p class="text-gray-600 text-sm mt-4"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
                <img class="w-full" src="..." alt="Card image cap">
                <div class="px-6 py-4">
                    <h5 class="font-bold text-xl mb-2">Card title</h5>
                    <p class="text-gray-700 text-base">
                        This is a wider card with supporting text below as a natural lead-in to additional content. This
                        card has even longer content than the first to show that equal height action.
                    </p>
                    <p class="text-gray-600 text-sm mt-4"><small>Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </section>
    <section class="btns-cont flex w-screen justify-around items-center p-[10px]">
        <div class="btn bg-gray-300 p-[5px] rounded-lg"><a href="">All PROJECTS</a></div>
        <div class="btn bg-gray-300 p-[5px] rounded-lg"><a href="">CONTACT ME</a></div>
    </section>
    <section class="footer flex flex-col sm:flex-col md:flex-row items-center justify-around bg-black text-blue-50 p-4">
        <div class="flex gap-3">
            <a href="../projects">PROJECTS</a>
            <a class="text-amber-200" href="../about">ABOUT</a>
            <a href="../contact">CONTACT</a>
        </div>
        <div class="flex flex-row sm:flex-row-reverse md:flex-row justify-between w-[60vw] items-center">
        <div class="flex flex-col ">
            <a href="mailto:nikhilkumar38674@gmail.com">nikhilkumar38674@gmail.com</a>
            +91 8368287687

        </div>
        <div class="logo">
            <img src="{% static 'media/gh.svg' %}" alt="haha">
        </div>
        </div>
    </section>
</body>

</html>